body {
  background-color: antiquewhite;

}
/* .App {
  text-align: center;
} */

p {
  padding: 5px;
  margin: 3px;
}

span{
  
}
.message{
  border-style: solid;
  border-radius: 10px;
  margin: 2px;
  /* width: 10rem; */
}

.sent {
  color: grey;
  text-align: right;
}

.receievd {
  color: black;
  text-align: left;
}

form {
  margin-top: 1em;
}

input {
  
  width: 60%;
  height: 5em;
  margin: auto;
  display: block;
  opacity: 65%;
  border-radius: 10px;
  white-space: nowrap
  
}

.all-messages{
  display:block;
  width:100%;
  height:30em;
  overflow:scroll;
  padding-top: 1em;
  padding-bottom: 1em;
}
button{
  margin: auto;
  display: block;
}

.submit-button{
  border-style: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(76, 162, 202);
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.submit-button:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}