body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.sign-in {
  /* display: flex; */
  height: 100vh;
  background-color: #dfa375;
  background-image: linear-gradient(315deg, #dfa375 0%, #c58e7f 74%);
}

.google-button {
  background-color: rgba(255, 255, 255, 0.733);
  width: 50%;
  height: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.google-legit-button {
  height: 2.5rem;
  width: 20rem;
  font-size: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: grey;
  border-color: rgba(211, 211, 211, 0.301);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sI-logo {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-button-sml {
  visibility: hidden;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  line-height: 5.5rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
  color: grey;
  border-color: rgba(211, 211, 211, 0.301);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  padding: 5px;
  margin: 3px;
  display: inline-block;
}

.sent p {
  background-color: rgb(23, 178, 184);
  color: white;
  border-radius: 10px;
  padding: 0.8rem;
}

.received p {
  background-color: rgb(155, 155, 155);
  color: white;
  border-radius: 10px;
  padding: 0.8rem;
}
.message {
  margin: 2px;
}

.sent {
  /* color: grey; */
  text-align: right;
  margin-right: 1rem;
  margin-left: 1rem;
}

.received {
  color: black;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}



span {
  color: rgb(216, 216, 216);
  font-size: 13px;
}

input {
  height: 2em;
  padding: 0;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.9rem;
  background-color: rgba(255, 255, 255, 0.678);
  border: solid grey;
  width: 80%;
}
.chat-room{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  width: 82%;
  position: relative;

}

.chat-room-width{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  width: 90%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: red;
  
}

form {
  margin-top: 3em;
  width: 60%;

}
.all-messages {
  width: 100%;
  height: 55vh;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 3em;
  border-bottom: solid grey;
  /* margin-left: 3rem; */
  background-color: rgba(255, 255, 255, 0.678) !important; 
  right: 0;

}

.all-messages-width {
  float: right;
  width: 75%;
  height: 55vh;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 3em;
  flex-direction: column-reverse;
  border-bottom: solid grey;
  border-radius: 10px;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.678) !important;
}

button {
  margin: auto;
  display: inline-block;
}

.submit-button {
  border-style: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(23, 178, 184);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.submit-button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 5.5rem;
  padding-bottom: 1%;
  border-bottom: solid rgb(133, 133, 133);
}

.left {
}

.right {
}

.middle {
}

.prof-photo {
  border-radius: 50px;
  height: 3.3rem;
  width: 3.3rem;
  margin: 1rem;
  cursor: pointer;
}

.hamburger {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  cursor: pointer;
  color: white;
}

.logo {
  height: 6rem;
  width: 7rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.overlay {
  margin-top: 3.3rem;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.678) !important;
  width: 18%;
  position: absolute;
  border-right: solid grey;
}

.chat-select {
  height: 1em;
  color: black;
  padding: 1.5rem;
  /* margin-top: 1rem; */
  cursor: pointer;
}

.chat-selected {
  height: 1em;
  padding: 1.5rem;
  /* margin-top: 1rem; */
  color: black;
  cursor: pointer;
  background-color: rgb(119, 119, 119);
}

.chat-select:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.add-chat-btn {
  top: 90%;
  font-size: 35px;
  color: white;
  right: 10%;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.678);
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8rem;
}

.add-chat-btn:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.sign-in-text {
  position: relative;
  top: 15%;
  left: 20%;
  font-size: 30px;
}

@media only screen and (max-width: 1025px) {
  .all-messages {
    height: 53em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 768px) {
  .all-messages {
    height: 38em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 712px) {
  .google-legit-button {
    display: none;
  }

  .google-button-sml {
    visibility: visible;
  }
}

@media only screen and (max-width: 380px) {
  .all-messages {
    height: 28em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 415px) {
  .all-messages {
    height: 20em;
    margin-left: 1rem;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 350px) {
  .all-messages {
    height: 1em;
  }

  .submit-button {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
}
