body {
  background-color: rgb(252, 252, 252);
}

.sign-in {
  display: flex;
  height: 100vh;
}

.sign-in-decorate {
  width: 50em;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
}

.google-button {
  width: 50em;
  height: 100vh;
  /* position: relative; */
}
.google-legit-button {
  height: 2.5rem;
  width: 20rem;
  font-size: 30px;
  position: absolute;
  display: block;
  top: 25%;
  right: 13%;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: grey;
  border-color: rgba(211, 211, 211, 0.301);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.sI-logo {
  position: absolute;
  /* top: 30%;
    left: 17%; */
  top: 25%;
  left: 15%;
  display: block;
}

p {
  padding: 5px;
  margin: 3px;
  display: inline-block;
}

.sent p {
  background-color: rgb(23, 178, 184);
  color: white;
  border-radius: 10px;
  padding: 0.8rem;
}

.received p {
  background-color: rgb(155, 155, 155);
  color: white;
  border-radius: 10px;
  padding: 0.8rem;
}
.message {
  margin: 2px;
}

.sent {
  /* color: grey; */
  text-align: right;
  margin-right: 1rem;
  margin-left: 1rem;
}

.received {
  color: black;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

form {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: rgb(216, 216, 216);
  font-size: 13px;
}

input {
  height: 2em;
  padding: 0;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.9rem;
  background-color: rgba(196, 196, 196, 0.541);
  border: none;
  width: 60%;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.all-messages {
  display: flex;
  width: 90%;
  height: 26em;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 3em;
  flex-direction: column-reverse;
  border-bottom: solid rgba(139, 139, 139, 0.39);
  border-top: solid rgba(139, 139, 139, 0.39);
  border-radius: 10px;
  /* margin-right: 1rem; */
  margin-left: 3rem;
}

button {
  margin: auto;
  display: block;
}

.submit-button {
  border-style: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(23, 178, 184);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.submit-button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}



.nav {
  display: flex;
  justify-content: space-between;
  /* background: rgb(0,36,27); */
  /* background: linear-gradient(90deg, rgba(0,36,27,1) 0%, rgba(9,121,57,1) 35%, rgba(194,255,174,1) 100%); */
  margin-bottom: 2rem;
  height: 5.5rem;
  /* width: 90%; */
}

.left {
}

.right {
}

.middle {
}

.prof-photo {
  border-radius: 50px;
  height: 3.3rem;
  width: 3.3rem;
  margin: 1rem;
  cursor: pointer;
}

.hamburger {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  cursor: pointer;
  color: white;
}

.logo {
  height: 6rem;
  width: 7rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 56, 12, 0.699);
  width: 250px;
  position: absolute;
  border-radius: 10px;
  transition: height 0.25s linear;
}

.chat-select{
  height: 1em;
  padding: 1em;
  color: white;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.507);
  border-radius: 10px;
  cursor: pointer;
}

.chat-select:hover{
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1025px) {
  .all-messages {
    height: 53em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 768px) {
  .all-messages {
    height: 38em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 380px) {
  .all-messages {
    height: 28em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 415px) {
  .all-messages {
    height: 20em;
    margin-left: 1rem;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 350px) {
  .all-messages {
    height: 1em;
  }

  .submit-button {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
}

/* @media only screen and (max-width: 375px) {
  .all-messages {
    height: 28em;
    width: 18em;
  }
} */