:root {
  --main-grey: #dfe6e9;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  height: 100vh;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

.App {
  font-family: Roboto;
}
.sign-in {
  /* display: flex; */
  height: 100vh;
  background-color: #dfa375;
  background-image: linear-gradient(315deg, #dfa375 0%, #c58e7f 74%);
}

.google-button {
  background-color: rgba(255, 255, 255, 0.733);
  width: 50%;
  height: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.google-legit-button {
  height: 2.5rem;
  width: 20rem;
  font-size: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: grey;
  border-color: rgba(211, 211, 211, 0.301);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sI-logo {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-button-sml {
  visibility: hidden;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  line-height: 5.5rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
  color: grey;
  border-color: rgba(211, 211, 211, 0.301);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  padding: 5px;
  margin: 3px;
  display: inline-block;
}

.sent p {
  background-color: rgb(23, 178, 184);
  color: white;
  border-radius: 10px;
  padding: 0.8rem;
}

.received p {
  background-color: rgb(155, 155, 155);
  color: white;
  border-radius: 10px;
  padding: 0.8rem;
}
.message {
  margin: 2px;
}

.sent {
  /* color: grey; */
  text-align: right;
  margin-right: 1rem;
  margin-left: 1rem;
}

.sent .msg-photo {
  border-radius: 50px;
  height: 3rem;
  width: 3rem;
  float: right;
  position: relative;
  top: 0.5rem;
}

.received .msg-photo {
  border-radius: 50px;
  height: 3rem;
  width: 3rem;
  position: relative;
  top: 0.5rem;
}

.received {
  color: black;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

span {
  color: rgb(216, 216, 216);
  font-size: 13px;
}

input {
  height: 2em;
  padding: 0;
  color: var(--main-grey);
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.9rem;
  background-color: rgba(255, 255, 255, 0.678);
  border: solid var(--main-grey);
  width: 80%;
}

.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 85vh;
  margin: 0;
  margin-top: -2rem;
  background-color: rgb(167, 167, 167);
  width: 100vw;
  height: 87vh;
}
form {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
/* 

input {
  margin:0;
  margin-left: .5rem;
  height: 12%;
  width: 80%;
  float: left;
  padding: 1.5rem;
  display: inline;

} */

.chat-room-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: red;
}
/* 
form {
  margin-top: 3em;
  width: 60%;
} */
.all-messages {
  width: 100%;
  height: 55vh;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 3em;
  /* margin-left: 3rem; */
  background-color: rgba(255, 255, 255, 0.678) !important;
  right: 0;
  border-radius: 10px;
}

.all-messages-width {
  float: right;
  width: 75%;
  height: 55vh;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 3em;
  flex-direction: column-reverse;
  border-bottom: solid var(--main-grey);
  border-radius: 10px;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.678) !important;
}

button {
  margin: auto;
  display: inline-block;
}

.submit-button {
  border-style: none;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(23, 178, 184);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transform: translate(-130%, 50%);


}


.submit-button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 5.5rem;
  padding-bottom: 1%;
  border-bottom: solid var(--main-grey);
  vertical-align: middle
}

.left {
}

.right {
}

.middle {
  position: fixed;
  left: 50%;
}

.prof-photo {
  border-radius: 50px;
  height: 3.3rem;
  width: 3.3rem;
  margin: 1rem;
  cursor: pointer;
}

.hamburger {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  cursor: pointer;
  color: white;
}

.logo {
  height: 6rem;
  width: 7rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.overlay {
  margin-top: .7rem;
  height: 90vh;
  background-color: rgba(107, 107, 107, 0.76);
  width: 25%;
  position: absolute;
  border-right: solid var(--main-grey);
  z-index: 100;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: white;
}

.overlay_title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: 600;
  border-bottom: solid var(--main-grey);
  border-width: 100;
  padding-left: 1rem;
  margin-top: 1rem;
}

.right{
  width: 100px;
  -webkit-transition: width .35s;
  overflow: hidden;

}



.sign-out-button {
  text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  background-color:  rgb(23, 178, 184);
  border-radius: 10px;
  transition: width .35s;
  top: 1rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.right:hover {
  width: 200px;
}

.right:hover .logout{
  opacity: .9;
}

.sign-out-button:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.349);

}

.chat-select {
  height: 1em;
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  font-weight: 500;
  margin-top: .5rem;
  font-weight: 600;
  
}

.chat-selected {
  height: 1em;
  padding: 1.5rem;
  /* margin-top: 1rem; */
  color: black;
  cursor: pointer;
  background-color: rgba(119, 119, 119, 0.424);
  font-weight: 500;
}

.chat-select:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.add-chat-btn {
  top: 90%;
  font-size: 35px;
  color: white;
  right: 10%;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.678);
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8rem;
}

.add-chat-btn:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.sign-in-text {
  position: relative;
  top: 15%;
  left: 20%;
  font-size: 30px;
}

@media only screen and (max-width: 1025px) {
  .all-messages {
    height: 53em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 768px) {
  .all-messages {
    height: 38em;
    /* width: 18em; */
  }
}

@media only screen and (max-width: 712px) {
  .google-legit-button {
    display: none;
  }

  .google-button-sml {
    visibility: visible;
  }
}

.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  overflow: hidden; }

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px; }

.menu-leave {
  max-height: 100px;
  -webkit-transition: max-height 1s ease; }

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px; }



@media only screen and (max-width: 360px) and (max-height: 640px) {

  body{
    overflow-y: hidden;
  }

  .middle{
    left: 35%;
  }  
 
   .middle .logo {
    height: 5.5rem;
  }

  .chat-room {
    height: 85vh;
    margin: 0;
    /* margin-right: 1.75rem; */
    margin-top: -2rem;
    background-color: rgb(167, 167, 167);
    width: 100vw;
  }

  form {
    height: 20%;
    width: 100%;
    margin-top: .5rem;
    display: flex;
  }

  input {
    margin:0;
    margin-left: .5rem;
    height: 12%;
    width: 80%;
    float: left;
    padding: 1.5rem;
    display: inline;

  }
  .submit-button {
    margin-left: -15%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    margin-top: .75rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  .overlay {
    /* z-index: 100; */
    width: 100vw;
    background-color: rgb(161, 161, 161);
    margin-top: .5rem;
    height: 90vh;
  }
  .chat-select {
    padding: 1rem;
    border-bottom: solid var(--main-grey);;
  }
  
}

@media only screen and (max-width: 563px) and (max-height: 684px) {
  .chat-room {
    height: 85vh;
    margin: 0;
    /* margin-right: 1.75rem; */
    margin-top: -2rem;
    background-color: rgb(167, 167, 167);
    width: 100vw;
  }
  form {
    height: 20%;
    width: 100%;
    margin-top: .5rem;
    display: flex;
  }

  input {
    margin:0;
    margin-left: .5rem;
    height: 12%;
    width: 80%;
    float: left;
    padding: 1.5rem;
    display: inline;

  }

  .overlay {
    width: 50%;
    height: 85vh;
  }

}

@media only screen and (max-width: 1026px) and (max-height: 850px) {
  input {
    height: 2rem;
    margin-top: 0;
  }
  form {
    margin-top: .5rem;
  }

  .submit-button{
    transform: translate(-130%, 30%);

  }
  
}


/* Mobile: 360 x 640
.all-messages {
  width: 100%;
  height: 55vh;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 3em;
  border-bottom: solid var(--main-grey);
  margin-left: 3rem;
  background-color: rgba(255, 255, 255, 0.678) !important;
  right: 0;
  border-radius: 10px;
}


Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080 */