body {
  background-color: antiquewhite;

}
/* .App {
  text-align: center;
} */

p {
  padding: 5px;
  margin: 3px;
}

.message{
  border-style: solid;
  border-radius: 10px;
  margin: 2px;
  /* width: 10rem; */
}

.sent {
  color: grey;
  text-align: right;
  margin-right: 1rem;
  margin-left: 1rem;
}

.received {
  color: black;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

form {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  
  width: 60%;
  height: 5em;
  margin: 0;
  padding: 0;
  /* display: inline-block; */
  border-radius: 10px;
 
}

.all-messages{
  display:block;
  width:100%;
  height:30em;
  overflow:scroll;
  padding-top: 1em;
  padding-bottom: 1em;
 
}


button{
  margin: auto;
  display: block;
}

.submit-button{
  border-style: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(76, 162, 202);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
 
}

.submit-button:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

@media only screen and (max-width: 350px) {
  .all-messages{
    height:24em;
  }

  .submit-button{
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
  
}